<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <property name="logname" value="demo" />

    <!-- log4jdbc-log4j2 -->
    <logger name="jdbc.sqlonly"        level="DEBUG"/>
    <logger name="jdbc.sqltiming"      level="DEBUG"/>
    <logger name="jdbc.audit"          level="INFO"/>
    <logger name="jdbc.resultset"      level="OFF"/>
    <logger name="jdbc.resultsettable" level="OFF"/>
    <logger name="jdbc.connection"     level="DEBUG"/>

    <!--出力ルール～コンソール～ -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <!--出力内容 -->
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level %msg%n</pattern>
        </encoder>
    </appender>


</configuration>